.idea
.venv
.zed
build
scratch
**/__pycache__
*/.ipynb_checkpoints
chainlit/.env
chainlit/.files
idris.egg-info
do_not_share
.ipynb_checkpoints
**/.DS_Store
*/.env
requirements.txt
*.zip
fastapi/.env
.env
toolboxes/*.xml
gen_ai_toolkit.egg-info/
.aider*
.ropeproject
.vscode/*
